<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoremIpsum</title>
    <link rel="shortcut icon" type="image/svg" href="./assets/images/favicon.ico" />

    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <!-- Header Section -->
            <div class="header-space">
                <header>

                    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white nav-space navshadow">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><img src="./assets/images/Logo Color.svg" class="img-fluid imgsl" /></a>
                            <button class="navbar-toggler third-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <div class="animated-icon3"><span></span><span></span><span></span></div>
      
                  </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 actnav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#icon">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#plan">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav mx-auto mb-lg-0">
                                    <button class="btn btn btnorange" type="submit">Get Started</button>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
        <!-- Header section end -->
        <!-- Hero Section Start -->
        <section>
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-6 pt-md-5 mt-5">

                            <div class="feature-box bm">
                                <h1>Grow your subscription business</h1>
                                <p>Outcome-centered products that reduce churn, optimize pricing, and grow your subscription business end-to-end.</p>
                                <div class="mt-3">
                                    <button class="btn btn btnblue ms-0" type="submit">Get Started</button>
                                    <a href="#sec2">
                                        <div>
                                            <img src="./assets/images/Down Arrow.png" class="da" />
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 pt-md-5 mt-md-5">
                            <img src="./assets/images/Hero 3D.jpg" class="feature-img">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------- Hero section end-------->

        <!----------- Logoipsum section start-------->
        <section>
            <div class="container">
                <div id="sec2">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="./assets/images/logoipsum1.png" class="feature-imgl">
                        </div>
                        <div class="col-md-2">
                            <img src="./assets/images/logoipsum2.png" class="feature-imgl">
                        </div>
                        <div class="col-md-2">
                            <img src="./assets/images/logoipsum3.png" class="feature-imgl">
                        </div>
                        <div class="col-md-2">
                            <img src="./assets/images/logoipsum4.png" class="feature-imgl">
                        </div>
                        <div class="col-md-3">
                            <img src="./assets/images/logoipsum5.png" class="feature-imgl">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------- Logoipsum section end-------->

        <!----------- Content section start-------->
        <section>
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="./assets/images/Content Image 02.jpg" class="feature-img imgsize bm" />
                        </div>
                        <div class="col-md-6 mt-md-5 pt-md-5 pb-md-5">
                            <div class="feature-box">
                                <div>
                                    <h1 class="subs">Subscription index</h1>
                                </div>
                                <p>A daily dataset to keep you up to date on subscription market trends and what's happening in your vertical.</p>
                                <div class="mt-3">
                                    <a href="#">Learn More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------- Content section ends----------->

        <!----------- ContentImg section start-------->
        <section>
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-6 mt-md-5 pt-md-5 pb-md-5">
                            <div class="feature-box bm">
                                <h1 class="subs">In-depth metrics</h1>
                                <p>Accurate, real-time reporting at your fingertips. Getting data has never been easier.</p>
                                <div class="mt-3">
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="./assets/images/Content Image.jpg" class="feature-img imgsize">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------- ContentImg section end-------->

        <!----------- Icon section start-------->
        <section>
            <div class="container mt-md-5 mb-md-5" id="icon">
                <div>
                    <div class="row">
                        <div class="col-md-4 text-center">

                            <img src="./assets/images/Icon 001.png" class="img-fluid img-size">
                            <h1 class="fs-3">Benchmarks</h1>

                            <p class="par-size">See how you stack up against comparable companies in similar stages.</p>

                        </div>
                        <div class="col-md-4 text-center">
                            <img src="./assets/images/Icon 002.png" class="img-fluid img-size">
                            <h1 class="fs-3">Pricing Audit</h1>
                            <p class="par-size">Benchmark the health of your monetization and pricing strategy.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img src="./assets/images/Icon 003.png" class="img-fluid img-size">
                            <h1 class="fs-3">Retention Audit</h1>
                            <p class="par-size">Audit where revenue leakage exists and where you can increase retention.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-----------Icon section end-------->

        <!----------- Year/Month section start-------->
        <section>
            <div class="container  mb-3" id="plan">
                <div>
                    <div class="row">

                        <div class="col-md-8 my-md-5">
                            <h1 class="get-style bm">Get the right plan for future product.</h1>
                        </div>

                        <div class="col-md-4 my-md-5 text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <!-- <ul class="nav nav-pills">
                                    <li class="active "><a data-toggle="pill" href="#yearly">Yearly</a></li>
                                    <li><a data-toggle="pill" href="#monthly">Monthly</a></li>

                                </ul> -->
                                <!-- <button type="button" class="active btn btn ba-purple">Yearly</button> -->
                                <!-- <button type="button" class="active btn btn-light ba">Monthly</button> -->
                                <ul class="nav nav-pills mt-md-5 mt-3 mb-3 " id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active btnact tablinks brs1" onclick="openCity(event, 'yearly')" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-yearly" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Yearly</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link btndact tablinks brs2" onclick="openCity(event, 'monthly')" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-monthly" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Monthly</button>
                                    </li>
                                </ul>
                            </div>
                            <!-- <button type="button" class="btn btn btnpurple ms-0">Yearly</button>
                            <button type="button" class="btn btn-light ms-0">Monthly</button> -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------- Year/Month section end-------->

        <!----------- Card section start-------->

        <section>
            <div id="yearly" class="tabcontent">
                <div class="tab-content" id="pills-tabContent">

                    <div class="container mt-md-5 mb-md-5">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="tab-pane fade show active" id="pills-monthly" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="cards">
                                        <h6>Starter</h6>
                                        <h1 style="font-weight: bold;font-size: 50px;line-height: 77px;">FREE</h1>
                                        <h5>1 Website For 2 Year</h5>
                                        <h5>5 GB Hosting</h5>
                                        <h5>Limited Support</h5>
                                        <button type="button" class="btn btn cardbtnwhite">Get Started</button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="tab-pane fade show active" id="pills-monthly1" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="cards">
                                        <h6>Premium</h6>
                                        <h1>
                                            <span style="font-size: 50px; font-weight: bold;">$29</span><span style="font-size: 28px;">/Year</span></h1>
                                        <h5>10 Website For Year</h5>
                                        <h5>15 GB Hosting</h5>
                                        <h5>Premium Support</h5>
                                        <button type="button" class="btn btn cardbtnwhite ">Get Started</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tab-pane fade show" id="pills-yearly" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="cards">
                                        <h6>Enterprise</h6>
                                        <h1><span style="font-size: 50px; font-weight: bold;">$49</span><span style="font-size: 28px;">/Year</span></h1>
                                        <h5>Unlimited Website For Year</h5>
                                        <h5>50 GB Hosting</h5>
                                        <h5>Premium Support</h5>
                                        <button type="button" class="btn btn cardbtnwhite">Get Started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div id="monthly" class="tabcontent" style="display: none;">
                <div class="tab-content" id="pills-tabContent">

                    <div class="container mt-md-5 mb-md-5">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="tab-pane fade show" id="pills-monthly" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="cards">
                                        <h6>Starter</h6>
                                        <h1 style="font-weight: bold;font-size: 50px;line-height: 77px;">FREE</h1>
                                        <h5>1 Website For 2 Months</h5>
                                        <h5>5 GB Hosting</h5>
                                        <h5>Limited Support</h5>
                                        <button type="button" class="btn btn cardbtnwhite">Get Started</button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="tab-pane fade show " id="pills-monthly1" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="cards">
                                        <h6>Premium</h6>
                                        <h1><span style="font-size: 50px; font-weight: bold;">$29</span><span style="font-size: 28px;">/Month</span></h1>
                                        <h5>10 Website For Month</h5>
                                        <h5>15 GB Hosting</h5>
                                        <h5>Premium Support</h5>
                                        <button type="button" class="btn btn cardbtnwhite ">Get Started</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tab-pane fade show " id="pills-yearly" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="cards">
                                        <h6>Enterprise</h6>
                                        <h1><span style="font-size: 50px; font-weight: bold;">$49</span><span style="font-size: 28px;">/Month</span></h1>
                                        <h5>Unlimited Website For Month</h5>
                                        <h5>50 GB Hosting</h5>
                                        <h5>Premium Support</h5>
                                        <button type="button" class="btn btn cardbtnwhite">Get Started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-----------Card section end-------->
        <!----------- Footer section start-------->
        <section>
            <div class="full-width-div boxcolor">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 my-4 box1">
                            <div>
                                <img src="./assets/images/Black.png" class="imgs " />
                                <p>Lorem ipsum dolor sit amet</p>
                                <i class="fab fa-twitter is"></i>
                                <i class="fab fa-youtube is"></i>
                                <i class="fab fa-linkedin-in is"></i>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3 mt-md-4">
                            <div>
                                <h5 class="ts">Title</h5>
                                <div class="text-light">
                                    <p class="mb-2 text-light">web page design</p>
                                    <p class="mb-2 text-light">web page design</p>
                                    <p class="mb-2 text-light">web page design</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2 mb-3 mt-md-4">
                            <div>
                                <h5 class="ts">Title</h5>
                                <div class="text-light">
                                    <p class="mb-2 text-light">web page design</p>
                                    <p class="mb-2 text-light">web page design</p>
                                    <p class="mb-2 text-light">web page design</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2  mb-3 mt-md-4">
                            <div>
                                <h5 class="ts">Title</h5>
                                <div class="text-light">
                                    <p class="mb-2 text-light">web page design</p>
                                    <p class="mb-2 text-light">web page design</p>
                                    <p class="mb-2 text-light">web page design</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----------- footer section end-------->

    </div>
    <!-- Jquery -->
    <script src="./assets/js/jquery.js"></script>
    <!-- Bootstrap js -->

    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>

</body>

</html>